---
layout: layouts/base.ejs
---

<article class="tw-container tw-mx-auto tw-px-3 md:tw-px-0 tw-py-8 c-wysiwyg">
  <header>
    <h1 class="tw-mb-5 tw-font-bold tw-text-3xl md:tw-text-4xl tw-font-medium tw-text-gray-800"><%= h1 %></h1>
  </header>

  <section class="content md:tw-grid md:tw-grid-cols-12">
    <div class="tw-col-span-9">
      <%- content %>
    </div>
  </section>
</article>
