---
layout: layouts/base.ejs
---

<article class="tw-container tw-mx-auto">
  <header>
    <h1 class="tw-text-center tw-font-bold tw-text-3xl tw-text-gray-800"><%= title %></h1>
    <div class="text-center text-sm mb-8">
      <%= this.dateFns.format(new Date(date), 'LLLL d, yyyy') %>
    </div>
  </header>

  <section class="content"><%- content %></section>
</article>
