---
layout: layouts/base.ejs
---

<article class="tw-container tw-mx-auto c-wysiwyg">
  <header>
    <h1 class="tw-my-5 tw-font-bold tw-text-3xl tw-text-gray-800"><%= title %></h1>
  </header>

  <section class="content"><%- content %></section>
</article>
